@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Nunito:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

::-webkit-scrollbar { 
    width: 10px; 
} 
  
::-webkit-scrollbar-track { 

  background: #f1f1f1; 
} 
  
::-webkit-scrollbar-thumb { 
  background: #7f9bc0;
} 
  
::-webkit-scrollbar-thumb:hover { 
  background: #3a5274;
}

@layer components {
  .max-container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .search {
    @apply   sm:flex-1 max-sm:w-full text-base leading-normal text-main-blue pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-main-blue max-sm:rounded-full;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

}

.mobile-screen{
  @apply max-2xl:h-[550px]  max-xl:h-[490px] max-lg:h-[400px]  max-[1280px]:h-[410px]   max-md:h-[300px] max-[700px]:h-[280px]  max-sm:h-[240px] max-[964px]:h-[340px] max-[850px]:h-[320px]
  max-[620px]:h-[180px]  max-[497px]:h-[200px]  max-[406px]:h-[185px] max-[346px]:h-[205px];
}
.mobile-img-end{
  @apply max-2xl:w-[350px] max-xl:w-[300px] max-[1280px]:w-[260px]  max-lg:w-[240px]  max-[964px]:w-[210px] max-[850px]:w-[190px] max-md:w-[180px]  max-[700px]:w-[170px]
  max-sm:w-[135px]  max-[620px]:hidden;
}
.mobile-img-start{
  @apply max-2xl:w-[380px] max-xl:w-[350px] max-[1280px]:w-[310px] max-lg:w-[260px] max-[850px]:w-[200px] max-[964px]:w-[235px]   max-md:w-[195px] max-[700px]:w-[180px]
  max-sm:w-[150px]  max-[620px]:hidden;
}
.mobile-text-span{
  @apply max-[1800px]:text-[63px]  max-2xl:text-[50px] max-xl:text-[40px]  max-lg:text-[39px]  max-[964px]:text-[29px] max-md:text-[29px]  max-[708px]:text-[24px] max-sm:text-[24px];
}
.mobile-text-header{
  @apply max-[1800px]:text-[51px] max-2xl:text-[42px]  max-xl:text-[35px]  max-lg:text-[34px]    max-[964px]:text-[25px] max-md:text-[25px] 
  max-[708px]:text-[20px]  max-sm:text-[20px] max-[550px]:px-10 max-[406px]:px-2 max-2xl:mb-10 max-lg:mb-6 max-[465px]:mb-2  max-sm:mb-2;
}
